uci/results/*/*
!uci/results/*/scores.csv
!uci/results/*/time.txt
mona/results/*/*
!mona/results/*/1999.png
!mona/results/empty
multivariate/results/*/*
!multivariate/results/*/empty
!multivariate/results/empty
multivariate/mnist_data/*
!multivariate/mnist_data/preprocess.ipynb
!multivariate/mnist_data/unzip.sh
!multivariate/mnist_data/mnist-dataset.zip
*/__pycache__